# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Database
*.db

# Environment variables
.env

# Logs
*.log

# Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Reports
reports/

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
Desktop.ini

data/database/
*.db